$searchMobile_input_bg: #282828;
$searchMobile_checkbox_bg: #282828;
$searchMobile_checkbox_checked_bg: #535353;

#db-search {
    margin-bottom: 0.5rem;

    & #filterString {
        font-size: 0.8rem;
    }

    & #dbSearchForm {
        width: 100%;
        background: $searchMobile_input_bg;
    
        & input {
            background: transparent;
            border: none;
            border-radius: 0;
            color: $font-color-primary-active;
    
            &:-webkit-autofill {
                -webkit-box-shadow: 0 0 0 30px $searchMobile_input_bg inset !important;
                -webkit-text-fill-color: $font-color-primary-active !important;
    
                &:hover, &:focus, &:active {
                    -webkit-box-shadow: 0 0 0 30px $searchMobile_input_bg inset !important;
                    -webkit-text-fill-color: $font-color-primary-active !important;
                }
            }
        }
    
        & button {
            background: transparent;
            border: none;
            color: $font-color-primary;
            font-size: 1.5rem;
    
            &:hover {
                color: $font-color-primary-active;
                transform: scale(1.2);
            }
        }
    
    }
}




    .search_checkboxes {
        font-size: 0.8rem;

        & label {
            margin: 0;
            background: $searchMobile_checkbox_bg;
            padding: 0.2rem 1rem;
        }

        & input[type="checkbox"] {
            display: none;
        }
        & input[type="checkbox"]:checked + label {
            color: $font-color-primary-active;
            background: $searchMobile_checkbox_checked_bg;
        }
    }
