.settings_box {
    & .input_checkbox:checked + label {
      background: #3a3938;
    }
    & .input_checkbox + label {
      background: #262626;
      padding: 0.5rem 2rem;
      border-radius: 2rem;
    }
  }

.settings_button {
    background: $settings_button_bg;
    color: $settings_button_color_primary;
    font-weight: 300;
    border: 1px solid $settings_button_border;
    border-radius: 2rem;
    text-align: center;
    padding: 0.15rem 1rem;
    line-height: 2rem;

    &:hover {
        //transform: scale(1.1);
        color: $settings_button_color_hover;
    }
}

#autoDjDirs {
  height: 100%;
  /* width: 3rem; */
  font-size: 2rem;
  color: $settings_button_color_primary;
  line-height: 100%;
  border: 1px solid $settings_button_border;
  border-radius: 12rem;
  background: $settings_button_bg;
}

.link_button {
    text-decoration: none;
    color: $settings_button_color_primary;
    font-size: 2rem;

    &:hover {
        //transform: scale(1.1);
        text-decoration: none;
        color: $settings_button_color_hover;
    }
}

.jb_active {

  & button,
  & span {
    color: $settings_button_color_hover;
  }
}

#autodj-ratings {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  cursor: pointer;
  margin-left: 10px;
  max-width: calc(100% - 20px);
  background: transparent;
  color: #fff;
  border: none;
}

#autodj-ratings option {
  color: #000;
}

#autodj-ratings::-ms-expand {
  display: none;
}